SeferNet.UI.Apps/Service References/GetEmployeeDetailes/GetEmployeeDetailsByID1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.clalit.org.il/GetEmployeeDetailsByID/1.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.clalit.org.il/GetEmployeeDetailsByID/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.clalit.org.il/GetEmployeeDetailsByID/1.0/Imports">
      <xsd:import schemaLocation="https://sonline.clalit.org.il:4433/Clalit.InterfaceForSAP/GetEmployeeDetailsByID.svc?xsd=xsd0" namespace="http://www.clalit.org.il/GetEmployeeDetailsByID/1.0" />
      <xsd:import schemaLocation="https://sonline.clalit.org.il:4433/Clalit.InterfaceForSAP/GetEmployeeDetailsByID.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Clalit.Infrastructure.Entities.Faults" />
      <xsd:import schemaLocation="https://sonline.clalit.org.il:4433/Clalit.InterfaceForSAP/GetEmployeeDetailsByID.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetailsByIDAction" />
  </wsdl:message>
  <wsdl:message name="IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeDetailsByIDActionResponse" />
  </wsdl:message>
  <wsdl:message name="IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_IntegrationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Clalit.Infrastructure.Entities.Faults" name="detail" element="q1:IntegrationFault" />
  </wsdl:message>
  <wsdl:message name="IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_ResourceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Clalit.Infrastructure.Entities.Faults" name="detail" element="q2:ResourceFault" />
  </wsdl:message>
  <wsdl:message name="IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Clalit.Infrastructure.Entities.Faults" name="detail" element="q3:ValidationFault" />
  </wsdl:message>
  <wsdl:portType name="IGetEmployeeDetailsByID">
    <wsdl:operation name="GetEmployeeDetailsByIDAction">
      <wsdl:input wsaw:Action="http://www.clalit.org.il/InterfacesForSAP/1.0/GetEmployeeDetailsByIDAction" message="tns:IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_InputMessage" />
      <wsdl:output wsaw:Action="http://www.clalit.org.il/GetEmployeeDetailsByID/1.0/IGetEmployeeDetailsByID/GetEmployeeDetailsByIDActionResponse" message="tns:IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.clalit.org.il/GetEmployeeDetailsByID/1.0/IGetEmployeeDetailsByID/GetEmployeeDetailsByIDActionIntegrationFaultFault" name="IntegrationFaultFault" message="tns:IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_IntegrationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.clalit.org.il/GetEmployeeDetailsByID/1.0/IGetEmployeeDetailsByID/GetEmployeeDetailsByIDActionResourceFaultFault" name="ResourceFaultFault" message="tns:IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_ResourceFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.clalit.org.il/GetEmployeeDetailsByID/1.0/IGetEmployeeDetailsByID/GetEmployeeDetailsByIDActionValidationFaultFault" name="ValidationFaultFault" message="tns:IGetEmployeeDetailsByID_GetEmployeeDetailsByIDAction_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>