SeferNet.UI.Apps/Service References/GetEmployeeDetailes/GetEmployeeDetailsByID.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Clalit.Infrastructure.Entities.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Clalit.Infrastructure.Entities.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IntegrationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessFlowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceMessageId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegrationFault" nillable="true" type="tns:IntegrationFault" />
  <xs:complexType name="ResourceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessFlowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceMessageId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceFault" nillable="true" type="tns:ResourceFault" />
  <xs:complexType name="ValidationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessFlowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceMessageId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationFault" nillable="true" type="tns:ValidationFault" />
</xs:schema>