SeferNet.UI.Apps/Service References/BakaratKnisotService/HandshakeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HandshakeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IHandshakeService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/HandshakeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/HandshakeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/HandshakeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BakaratKnisot.Handshake.SI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHandshakeService_GetTokenByXML_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenByXML" />
  </wsdl:message>
  <wsdl:message name="IHandshakeService_GetTokenByXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenByXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IHandshakeService_GetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="IHandshakeService_GetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IHandshakeService_CheckToken_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckToken" />
  </wsdl:message>
  <wsdl:message name="IHandshakeService_CheckToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="IHandshakeService">
    <wsdl:operation name="GetTokenByXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandshakeService/GetTokenByXML" message="tns:IHandshakeService_GetTokenByXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandshakeService/GetTokenByXMLResponse" message="tns:IHandshakeService_GetTokenByXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandshakeService/GetToken" message="tns:IHandshakeService_GetToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandshakeService/GetTokenResponse" message="tns:IHandshakeService_GetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandshakeService/CheckToken" message="tns:IHandshakeService_CheckToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandshakeService/CheckTokenResponse" message="tns:IHandshakeService_CheckToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHandshakeService" type="tns:IHandshakeService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IHandshakeService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTokenByXML">
      <soap:operation soapAction="http://tempuri.org/IHandshakeService/GetTokenByXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToken">
      <soap:operation soapAction="http://tempuri.org/IHandshakeService/GetToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckToken">
      <soap:operation soapAction="http://tempuri.org/IHandshakeService/CheckToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HandshakeService">
    <wsdl:port name="BasicHttpBinding_IHandshakeService" binding="tns:BasicHttpBinding_IHandshakeService">
      <soap:address location="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/HandshakeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>