SeferNet.UI.Apps/Service References/BakaratKnisotService/HandshakeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/HandshakeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BakaratKnisot.Handshake.SI" />
  <xs:element name="GetTokenByXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BakaratKnisot.Handshake.SI" minOccurs="0" name="input" nillable="true" type="q1:GetTokenByXMLInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenByXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BakaratKnisot.Handshake.SI" minOccurs="0" name="GetTokenByXMLResult" nillable="true" type="q2:GetTokenBaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BakaratKnisot.Handshake.SI" minOccurs="0" name="input" nillable="true" type="q3:GetTokenBaseInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BakaratKnisot.Handshake.SI" minOccurs="0" name="GetTokenResult" nillable="true" type="q4:GetTokenBaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BakaratKnisot.Handshake.SI" minOccurs="0" name="input" nillable="true" type="q5:CheckTokenBaseInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BakaratKnisot.Handshake.SI" minOccurs="0" name="CheckTokenResult" nillable="true" type="q6:CheckTokenBaseResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>