SeferNet.UI.Apps/AppWebReferences/MapService/CoordsFinder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getCoords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_region" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_atar" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCoordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCoordsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getCoordsSoapIn">
    <wsdl:part name="parameters" element="tns:getCoords" />
  </wsdl:message>
  <wsdl:message name="getCoordsSoapOut">
    <wsdl:part name="parameters" element="tns:getCoordsResponse" />
  </wsdl:message>
  <wsdl:message name="getCoordsHttpPostIn">
    <wsdl:part name="_city" type="s:string" />
    <wsdl:part name="_street" type="s:string" />
    <wsdl:part name="_number" type="s:string" />
    <wsdl:part name="_region" type="s:string" />
    <wsdl:part name="_atar" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getCoordsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="getCoords">
      <wsdl:input message="tns:getCoordsSoapIn" />
      <wsdl:output message="tns:getCoordsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="getCoords">
      <wsdl:input message="tns:getCoordsHttpPostIn" />
      <wsdl:output message="tns:getCoordsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCoords">
      <soap:operation soapAction="http://tempuri.org/getCoords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCoords">
      <soap12:operation soapAction="http://tempuri.org/getCoords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getCoords">
      <http:operation location="/getCoords" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://mkweb011/coordsfinder/CoordsFinder.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://mkweb011/coordsfinder/CoordsFinder.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://mkweb011/coordsfinder/CoordsFinder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>