SeferNet.UI.Apps/Service References/CentralLogRegularService/CentralLogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CentralLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICentralLogService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/CentralLogRegularService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/CentralLogRegularService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/CentralLogRegularService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BakaratKnisot.CentralLog.Server.SI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICentralLogService_GetPreviousAndRefreshCentralLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviousAndRefreshCentralLog" />
  </wsdl:message>
  <wsdl:message name="ICentralLogService_GetPreviousAndRefreshCentralLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviousAndRefreshCentralLogResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralLogService_UpsertGeneralLog_InputMessage">
    <wsdl:part name="parameters" element="tns:UpsertGeneralLog" />
  </wsdl:message>
  <wsdl:message name="ICentralLogService_UpsertGeneralLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpsertGeneralLogResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralLogService_GetCentralLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCentralLog" />
  </wsdl:message>
  <wsdl:message name="ICentralLogService_GetCentralLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCentralLogResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralLogService_ClearSession_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearSession" />
  </wsdl:message>
  <wsdl:message name="ICentralLogService_ClearSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICentralLogService">
    <wsdl:operation name="GetPreviousAndRefreshCentralLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralLogService/GetPreviousAndRefreshCentralLog" message="tns:ICentralLogService_GetPreviousAndRefreshCentralLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralLogService/GetPreviousAndRefreshCentralLogResponse" message="tns:ICentralLogService_GetPreviousAndRefreshCentralLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpsertGeneralLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralLogService/UpsertGeneralLog" message="tns:ICentralLogService_UpsertGeneralLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralLogService/UpsertGeneralLogResponse" message="tns:ICentralLogService_UpsertGeneralLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCentralLog">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralLogService/GetCentralLog" message="tns:ICentralLogService_GetCentralLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralLogService/GetCentralLogResponse" message="tns:ICentralLogService_GetCentralLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralLogService/ClearSession" message="tns:ICentralLogService_ClearSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralLogService/ClearSessionResponse" message="tns:ICentralLogService_ClearSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICentralLogService" type="tns:ICentralLogService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICentralLogService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPreviousAndRefreshCentralLog">
      <soap:operation soapAction="http://tempuri.org/ICentralLogService/GetPreviousAndRefreshCentralLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpsertGeneralLog">
      <soap:operation soapAction="http://tempuri.org/ICentralLogService/UpsertGeneralLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCentralLog">
      <soap:operation soapAction="http://tempuri.org/ICentralLogService/GetCentralLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearSession">
      <soap:operation soapAction="http://tempuri.org/ICentralLogService/ClearSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentralLogService">
    <wsdl:port name="BasicHttpBinding_ICentralLogService" binding="tns:BasicHttpBinding_ICentralLogService">
      <soap:address location="http://mkwebt110.clalit.org.il/BakaratKnisot.WebServices/CentralLogRegularService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>