SeferNet.UI.Apps/AppWebReferences/DoctorSrv/DoctorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDoctorNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctorNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDoctorNamesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDoctorNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetDoctorNames" />
  </wsdl:message>
  <wsdl:message name="GetDoctorNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetDoctorNamesResponse" />
  </wsdl:message>
  <wsdl:portType name="DoctorServiceSoap">
    <wsdl:operation name="GetDoctorNames">
      <wsdl:input message="tns:GetDoctorNamesSoapIn" />
      <wsdl:output message="tns:GetDoctorNamesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DoctorServiceSoap" type="tns:DoctorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDoctorNames">
      <soap:operation soapAction="http://tempuri.org/GetDoctorNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoctorServiceSoap12" type="tns:DoctorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDoctorNames">
      <soap12:operation soapAction="http://tempuri.org/GetDoctorNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DoctorService">
    <wsdl:port name="DoctorServiceSoap" binding="tns:DoctorServiceSoap">
      <soap:address location="http://localhost/SeferNetService/DoctorService.asmx" />
    </wsdl:port>
    <wsdl:port name="DoctorServiceSoap12" binding="tns:DoctorServiceSoap12">
      <soap12:address location="http://localhost/SeferNetService/DoctorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>