BusinessLayer/Web References/ClalitOnlineWS/ClalitOnLine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.clalit.org.il/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.clalit.org.il/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.clalit.org.il/">
      <s:element name="ClalitRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClalitRunResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClalitRunResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClalitRunSoapIn">
    <wsdl:part name="parameters" element="tns:ClalitRun" />
  </wsdl:message>
  <wsdl:message name="ClalitRunSoapOut">
    <wsdl:part name="parameters" element="tns:ClalitRunResponse" />
  </wsdl:message>
  <wsdl:message name="ClalitRunHttpPostIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ClalitRunHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ClalitOnLine">
    <wsdl:operation name="ClalitRun">
      <wsdl:input message="tns:ClalitRunSoapIn" />
      <wsdl:output message="tns:ClalitRunSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClalitOnLine1">
    <wsdl:operation name="ClalitRun">
      <wsdl:input message="tns:ClalitRunHttpPostIn" />
      <wsdl:output message="tns:ClalitRunHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClalitOnLine" type="tns:ClalitOnLine">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClalitRun">
      <soap:operation soapAction="http://www.clalit.org.il/ClalitRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClalitOnLine1" type="tns:ClalitOnLine1">
    <http:binding verb="POST" />
    <wsdl:operation name="ClalitRun">
      <http:operation location="/ClalitRun" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClalitOnLine">
    <wsdl:port name="ClalitOnLine" binding="tns:ClalitOnLine">
      <soap:address location="http://online.clalit.org.il:8199/Clalit.ClalitCustomers/ClalitOnLine.asmx" />
    </wsdl:port>
    <wsdl:port name="ClalitOnLine1" binding="tns:ClalitOnLine1">
      <http:address location="http://online.clalit.org.il:8199/Clalit.ClalitCustomers/ClalitOnLine.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>